<div id="gameGrid">
    <div class="gameRow">
      <div class="gameCell"></div>
      <div class="gameCell"></div>
      <div class="gameCell"></div>
      <div class="gameCell"></div>
    </div>
    <div class="gameRow">
      <div class="gameCell"></div>
      <div class="gameCell"></div>
      <div class="gameCell"></div>
      <div class="gameCell"></div>
    </div>
    <div class="gameRow">
      <div class="gameCell"></div>
      <div class="gameCell"></div>
      <div class="gameCell"></div>
      <div class="gameCell"></div>
    </div>
    <div class="gameRow">
      <div class="gameCell"></div>
      <div class="gameCell"></div>
      <div class="gameCell"></div>
      <div class="gameCell"></div>
    </div>
  </div>

  <div class="tile-container">
    <div *ngFor="let g of arrayOfKeys" class="Column-{{g}}">
      <div id="{{g}}-{{tile.index}}" class="tile tile-{{tile.value}}" *ngFor="let tile of grid[g]" (swipeup)="shiftTilesUp(g, tile)" (swipedown)="shiftTilesDown(g, tile)" (swipeleft)="shiftTilesLeft(g, tile)" (swiperight)="shiftTilesRight(g, tile)">{{tile?.value}}</div>
    </div>
  </div>